body {
  font-family: sans-serif;
}

.stopwatch {
  margin: 0 auto;
  width: 300px;
  height: 100px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#timer {
  padding: 10px;
  margin: 0;
  text-align: center;
  color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.buttons {
  padding: 10px;
  text-align: center;
}

#laps {
  margin: 10px auto 0;
  padding: 0;
  width: 300px;
  max-height: 200px;
  overflow: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#laps > div {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
